{% extends 'MopaBootstrapBundle::base_sass.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block head_style %}
    {{ parent() }}
    {% stylesheets filter="compass" "@Ivan1986DebBundle/Resources/assets/css/main.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
        body {
            margin: 40px 0;
        }
    </style>
{% endblock head_style %}
{% block head_bottom %}
    {{ google_analytics_tracker('default') }}
{% endblock head_bottom %}
{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body %}
    {% embed 'MopaBootstrapBundle:Navbar:navbar.html.twig' with { fixedTop: true, inverse: true } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ url('home') }}">PkgGen</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('Ivan1986DebBundle:Main:mainMenu') }}
            <p class="navbar-text navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a class="navbar-link" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a class="navbar-link" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                |
                <a class="navbar-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            </p>
        {% endblock %}
    {% endembed %}
    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="https://github.com/ivan1986/deb-pkg-gen">{% trans %}исходный код на GitHub{% endtrans %}</a>
                </div>
                <div class="navbar-text pull-right">{% trans %}Сопровождающий{% endtrans %}: {{maintainer}}</div>
            </div>
        </div>
    </div>
{% endblock %}
