<form action="{{ path("fos_user_security_check") }}" method="post" class="form-vertical login-form">

    {% if error %}
    <div class="alert alert-error">
        {{ error|trans({}, 'FOSUserBundle') }}
    </div>
    {% endif %}
    <fieldset>
        <div class="form-group">
            <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="form-group">
            <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" class="form-control" />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </fieldset>

</form>
