{% extends '::base.html.twig' %}
{% block top_nav %} {{ parent() }}
<li><a href="{{ path('repos',{'my': 'all'}) }}">{% trans %}Все репозитории{% endtrans %}</a></li>
{% if app.user %}<li><a href="{{ path('repos',{'my': 'my'}) }}">{% trans %}Мои репозитории{% endtrans %}</a></li>{% endif %}
<li><a href="{{ path('nelmio_api_doc_index') }}">{% trans %}API{% endtrans %}</a></li>
{% endblock %}
{% block login %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# <a href="{{ path('sonata_user_profile_show') }}">Профиль</a> | #}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}
    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
    |
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}
{% endblock %}
{% block content %}
{% block fos_user_content %}
{% endblock %}
{% endblock %}