{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block fos_user_content %}

<div class="page-header">
    <h1>Редактирование репозитория</h1>
</div>

<form action="{{ path('repos_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">Обновить</button>
        <a href="{{ path('repos') }}">Назад к списку</a>
        <a href="{{ path('repos_delete', { 'id': entity.id }) }}" class="btn btn-danger">Удалить</a>
    </p>
</form>

{% endblock %}
