{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block fos_user_content %}

<div class="page-header">
    {% if all %}
    <h1>Список всех репозиториев</h1>
    {% else %}
    <h1>Список добавленных вами репозиториев</h1>
    {% endif %}
</div>

<table class="records_list table table-striped table-bordered">
    <thead>
        <tr>
            <th>Url</th>
            <th>Bin</th>
            <th>Src</th>
            <th>Имя</th>
            <th>Владелец</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pagerfanta.currentPageResults %}
        <tr>
            <td>{{ entity.repoString }}</td>
            <td><img src="{{ asset('bundles/ivan1986deb/images/'~(entity.bin ? 'yes' : 'no')~'.png') }}" alt="{{ entity.bin ? 'yes' : 'no' }}" /></td>
            <td><img src="{{ asset('bundles/ivan1986deb/images/'~(entity.src ? 'yes' : 'no')~'.png') }}" alt="{{ entity.src ? 'yes' : 'no' }}" /></td>
            <td>{{ entity.name }}</td>
            <td>
                {% if entity.owner.id == app.user.id %}
                    <a href="{{ path('repos_edit', { 'id': entity.id }) }}">редактировать</a>
                {% else %}
                    {{ entity.owner.username }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if pagerfanta.haveToPaginate %}{{ pagerfanta(pagerfanta, 'twitter_bootstrap') }}{% endif %}

<a class="btn btn-primary" href="{{ path('repos_new') }}">Добавить новый репозиторий</a>
<a class="btn btn-primary" href="{{ path('repos_new_ppa') }}">Добавить новый PPA репозиторий</a>
{% if all %}
<a class="btn right" href="{{ path('repos_my') }}">ваши</a>
{% else %}
<a class="btn right" href="{{ path('repos') }}">все</a>
{% endif %}
{% endblock %}
