{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block title %}{% trans %}Редактирование репозитория{% endtrans %}{% endblock %}
{% block fos_user_content %}

<div class="page-header">
    <h1>{% trans %}Редактирование репозитория{% endtrans %}</h1>
    <a href="{{ path('repos') }}">{% trans %}Назад к списку{% endtrans %}</a>
</div>

{{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Обновить{% endtrans %}</button>
        <a href="{{ path('repos_delete', { 'id': entity.id }) }}" class="btn btn-danger">{% trans %}Удалить{% endtrans %}</a>
    </p>
{{ form_end(edit_form) }}

{% endblock %}
