{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block title %}{% trans %}Редактирование репозитория{% endtrans %}{% endblock %}
{% block fos_user_content %}

<div class="page-header">
    <h1>{% trans %}Редактирование репозитория{% endtrans %}</h1>
    <a href="{{ path('repos') }}">{% trans %}Назад к списку{% endtrans %}</a>
</div>

{{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">{% trans %}Обновить{% endtrans %}</button>
    </p>
{{ form_end(edit_form) }}


<form action="{{ path('repos_delete', { 'id': entity.id }) }}" method="post" class="row">
    <div class="col-sm-6">
        <input type="text" name="name" class="form-control" value="" placeholder="{% trans %}Введите имя пакета для подтверждения{% endtrans %}">
    </div>
    <div class="col-sm-6">
        <input type="submit" class="btn btn-danger" value="{% trans %}Удалить{% endtrans %}">
    </div>
</form>
{% endblock %}
