{% extends 'Ivan1986DebBundle::layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block fos_user_content %}

<div class="page-header"><h1>{{ header }}</h1></div>

<form class="well form-inline" method="get" action="{{ path('repos', {'my': my}) }}">
    <input type="search" name="search" class="form-control col-sm-5" placeholder="{% trans %}Искать...{% endtrans %}">
    <button type="submit" class="btn">{% trans %}Поиск{% endtrans %}</button>
</form>

{% include '@Ivan1986Deb/Repository/table.html.twig' %}

{% if pagerfanta.haveToPaginate %}{{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated') }}{% endif %}

{% if app.user %}
    <p>
    <a class="btn btn-primary" href="{{ path('repos_new') }}">{% trans %}Добавить новый репозиторий{% endtrans %}</a>
    <a class="btn btn-primary" href="{{ path('repos_new_ppa') }}">{% trans %}Добавить новый PPA репозиторий{% endtrans %}</a>
    <a class="btn right" href="{{ path('repos', {'my': switch}) }}">{{ switchName }}</a>
    </p>
{% endif %}
{% endblock %}
